.container {
    display: flex;
}

.outlined {
    outline: black solid thin;
}

#mouse-pos-label {
    font-size: larger;
    font-weight: bold;
    margin-right: 10px;
}

#editor {
    flex-grow: 1;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

#editor > div {
    padding-top: 10px;
    padding-bottom: 10px;
}

#editor > h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}

#forms {
    width: 100%;
    min-height: 1em;
}

.form {
    padding: 5px 5px 5px 5px;
}

.form > button {
    float: right;
}

#modify-forms {
    margin-top: 10px;
}

#modify-forms > .outlined {
    margin-right: 10px;
}

#modify-forms > div {
    padding: 5px 5px 5px 5px;
}

#modify-forms > div > button {
    margin-left: 10px;
}

#source-editor > textarea {
    width: 100%;
    height: 100px;
}

#source-editor > div > button {
    margin-right: 5px;
}

#editor-type > select {
    margin-left: 10px;
}

#library > select {
    margin-left: 5px;
    margin-right: 5px;
}

#debug-toggle {
    margin-left: 25px;
}

#debug > h2 {
    margin-top: 0px;
    margin-bottom: 10px;
}
