.container {
    display: flex;
}

#editor {
    flex-grow: 1;
    padding-left: 10px;
    padding-right: 10px;
}

#editor > div {
    padding-top: 10px;
    padding-bottom: 10px;
}

.outlined {
    outline: black solid thin;
}

#modify-forms > .outlined {
    margin-right: 10px;
}

#modify-forms > div {
    padding: 5px 5px 5px 5px;
}

#modify-forms > div > button {
    margin-left: 10px;
}
